<% provide :title, t("view.users.edit.update") %>
<h1><%= t "update_your_profile" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="gravatar_edit span5 offset2">
        <%= gravatar_for @user %>
        <%= link_to t("view.users.edit.change"), t("garavatar")%>
      </div>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :phone_number %>
      <%= f.phone_field :phone_number, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <div class = "btn_size">
        <br>
        <%= f.submit t("view.users.edit.btn_update"),
          class: "btn btn-primary wd" %>
      </div>
    <% end %>
  </div>
</div>
