<div class="span9">
<table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t"product" %></th>
        <th><%= t"description" %></th>
        <th><%= t"quantity" %></th>
        <th><%= t"price" %></th>
        <th><%= t"total" %></th>
      </tr>
    </thead>
    <% current_order.order_items.each do |order_item| %>
    <tbody>

      <tr>
       <td class="rsimg" class="col-md-2"> <%= link_to admin_product_path(order_item.product), class: "brand" do %>
        <%= image_tag order_item.product.image? ? order_item.product.image.url : "iphone.png",class: "responsive" %>
        <% end %>
      </td>
      <td><%= raw get_short_description order_item.product %>...</td>
      <td><%=  order_item.quantity.to_i %></td>
      <td><%= number_to_currency order_item.unit_price %></td>
      <td><%= number_to_currency order_item.total_price %></td>
    </tr>
  </tbody>
  <% end %>
      <tr>
      <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
      <td class="label label-important" style="display:block"> <strong> <%= number_to_currency current_order.subtotal %></strong></td>
      </tr>

</table>
<%= form_for @order do |f|  %>
      <strong><%= t"address_shipping" %></strong></td>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :address_shipping, class: "form-control" %></strong>
      <%= f.submit t("submit"), class: "btn btn-large pull-right" %>
<% end %>
</div>
