<div class="span9">
  <div class="col-xs-4 col-md-4">
    <h3><%= t "categories" %></h3>
  </div>
  <%= render "shared/nav_admin"%>
  <%= link_to t("new"), new_admin_category_path(parent_id: nil) %>
  <br>
  <div class="col-md-offset-4">
  <%= will_paginate %>
  </div>
  <%= render "categories_table"%>
  <br>
  <div class="col-md-offset-4">
  <%= will_paginate %>
  </div>
</div>

